@model GeekShopping.Web.Models.ProductModel


<form asp-action="ProductCreate">
    <br/>
    <div class="container border p-3">
        <h1 class="text-primary">Create Product</h1>


    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}